<launch>
  <!-- Load t_frog model -->
  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find t_frog_description)/urdf/t_frog.xacro'" />

  <node name="t_frog_driver_node" pkg="t_frog_driver" output="screen" type="t_frog_driver_node">
    <remap from="t_frog/odom" to="odom"/>
    <remap from="t_frog/cmd_vel" to="cmd_vel"/>
  </node>
  
  <include file="$(find t_frog_control)/launch/t_frog_control.launch" />
  
</launch>
